@import "base/normalize";
@import "base/mixins";

/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');*/

body { 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 16px;
	background-color: #f8f8f8;
}

.clearfix:before{content:"";display:table;}
.clearfix:after{content:"";display:table;clear:both;}

/* 
* Custom SCSS
*/


/*
* Menu
*/
.menu {
    display: inline-block;
	position: fixed;
    right: 20px;
    top: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 100%;
	z-index: 99;
	.menu-items {		
		display: none;
		position: absolute;
		right: 33px;
		top: 0px;
		border-radius: 100px 0 0 100px;
		width: 680px;
		padding: 19px 0px 18px;
		text-transform: uppercase;
		z-index: -9;
		@include background-gradient (#78BC35,#26881B);
		ul {
			display: inline-block;
			padding: 0; margin: 0;
			li {
				display: inline-block;
				a {
					display: inline-block;
					text-decoration: none;
					color: #fff;
					font-size: 18px;
					line-height: 1.2em;
					font-weight: 600;
					margin: 0 40px;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
	.menu-container {
		padding: 21px 14px 37px;
	    border-radius: 100px;
		@include background-gradient (#78BC35,#26881B);
		z-index: 99999;
		#menu-icon {
			width: 30px;
			height: 34px;
			float: right;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: #fff;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
				&:nth-child(1) {
					top: 0px;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 8px;
					width: 70%;
				}

				&:nth-child(4) {
					top: 16px;
					width: 80%;
				}
			}
			&.open {
				span {
					&:nth-child(1) {
						top: 8px;
						width: 0%;
						left: 50%;
					}
					&:nth-child(2) {
						width: 100%;
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						width: 100%;				
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
					&:nth-child(4) {
						top: 8px;
						width: 0%;
						left: 50%;
					}
				}
			}
		}
	}
}

/*
* Brand
*/
.header {
	background: url(../img/bg-banner-min.png) bottom center no-repeat;
	background-position-y: -50px; 
	padding-bottom: 40px;
	background-size: 100%;
}
.brand {
	width: 50px;
	margin: 15px 0 0 20px;
}

.page-title {
	text-align: center;
	margin: 10px 0 0 0;
	.title {
		font-size: 46px;
		line-height: 1em;
		font-weight: 300;
	}
	.sub-title {
		font-size: 60px;
		line-height: 1em;
		color: #78BC35;
		font-weight: 900;
	}
}

.download-header {
	text-align: center;
	margin: 40px 0 100px;
	ul {
		list-style-type: none;
		margin: 0; padding: 0;
		li {
			display: inline;
			a {
				display: inline-block;
				width: 170px;
				margin: 0 10px;
				img {
					max-width: 100%;
				}
			}
		}
	}
}

.phone-layout {
	width: 420px;
	margin: 0 auto;
	padding: 10px;
	.phone-container {
		padding: 123px 68px 160px;
		.slider-window {
			height: 476px;
			overflow-y: scroll;	
			border: 1px solid #666;
			img {
				width: 100%;
			}
		}
		background: url(../img/phone-mock.png) top center no-repeat;
		background-size: 100%;
	}
}



.feature-sec-one {
	text-align: center;
	padding: 0 0 60px 0;
	h2 {
		font-size: 48px;
		font-weight: 400;
		margin: 20px 0 0 0;
	}
	.left-content {
		width: 40%;
		float: left;
		.phone-layout {
			margin: auto 0 auto auto;
			.phone-container {
				background-size: 100%;
				padding: 122px 68px 180px;
				.slider-window {
					height: 477px;
					overflow: hidden;
					img {
						
					}
				}
			}
		}
	}
	.right-content {
		width: 60%;
		float: right;
		padding: 100px 0 0 0;
		.feature-list {
			padding: 40px 200px 40px 40px;
			ul {
				list-style-type: none;
				padding: 0; margin: 0;
				li {
					box-shadow: 0 12px 30px #D9D9D9;
					margin-bottom: 30px;
					.feature-title-header {
						a {
							display: block;
							text-align: left;
							font-size: 18px;
							padding: 26px;
							font-weight: 600;
							color: #666;
							text-decoration: none;
							position: relative;
							border-top: 1px solid #E5E5E5;
							border-left: 1px solid #E5E5E5;
							border-right: 1px solid #E5E5E5;
							background: #fff;
							&:focus {
								outline: none;
							}
							&:active {
								@include background-gradient (#78BC35,#26881B);
							}
							&:after {
								position: absolute;
								content: "+";
								right: 25px;
								top: 21px;
								font-size: 26px;
								font-weight: 600;
								color: #ccc;
							}
						}
						&.open a {
							color: #fff;
							@include background-gradient (#78BC35,#26881B);
							&:after {
								content: "_";
								top: 11px;
								font-weight: 900;
								color: #fff;
							}
						}
					}
					.feature-content {
						padding: 0 26px 15px 26px;
						font-size: 16px;
						font-weight: 300;
						text-align: left;
						@include background-gradient (#78BC35,#26881B);
						color: #fff;
						border-bottom: 1px solid #E5E5E5;
						border-left: 1px solid #E5E5E5;
						border-right: 1px solid #E5E5E5;
					}
				}
			}
		}
	}
}


.feature-sec-two {
	@include background-gradient-vertical (#78BC35,#26881B);
	.sec-two-container {
		padding: 60px 0;
		background: url(../img/feature-bg-min.png) bottom center no-repeat;
		background-size: 100%;
		h2 {
			width: 100%;
			font-size: 48px;
			font-weight: 400;
			color: #fff;
			text-align: center;
			margin: 0;
		}
		.col-left {
			width: 33.3%;
			float: left;
			text-align: right;
			margin-top: 100px;
			.sec-feature-box {
				.box-title { line-height: 1em; margin-left: 30%; }
				.box-content { margin-left: 30%; }
			}
		}
		.col-med {
			width: 33.3%;
			float: left;
			.i-phone-layout {
				padding: 0 8%;
				img {
					width: 100%;
				}
			}
		}
		.col-right {
			text-align: left;
			width: 33.3%;
			float: left;
			margin-top: 100px;
			.sec-feature-box {
				.box-title { line-height: 1em; margin-right: 30%; }
				.box-content { margin-right: 30%; }
			}
		}
		.sec-feature-box {
			margin-bottom: 80px;
			.box-title {
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 600;
				color: #fff;
				margin-bottom: 10px;
			}
			.box-content {
				font-size: 16px;
				font-weight: 300;
				color: #fff;
			}
		}
	}
}


.testimony-sec {
	background: url(../img/review-bg.png) center bottom no-repeat;
	background-size: 100%;
	padding: 40px 0;
	text-align: center;
	h2 {
		font-size: 48px;
		font-weight: 400;
		margin: 20px 0 0 0;
	}
	.container-review {
		margin: 100px 60px;
		.review-card {
			width: 22%;
			margin: 2%;
			min-height: 200px;
			display: inline-grid;
			padding: 20px 20px 30px 20px;
			margin-bottom: 40px;
			background-color: #fff;
			border-radius: 8px;
			text-align: left;
			box-shadow: 10px 22px 50px rgba(0,0,0,0.16); 
			.profile-pic {
				height: 70px;
				width: 70px;
				border-radius: 100%;
				margin-top: -55px;
				margin-bottom: 10px;
				box-shadow: 2px 3px 11px rgba(0, 0, 0, 0.16);
				background: #fff;
				img {
					width: 100%;
				}
			}
			.name-email {
				font-size: 18px;
				color: #222;
				min-height: 60px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 30px;
				span {
					color: #999;
					text-transform: lowercase;
					font-weight: 400;
				}
			}
			.review-content {
				min-height: 90px;
				color: #999999;
			}
		}
	}
}

.download-sec {
	margin: 60px 0;
	@include background-gradient (#67AF20,#1F8213);
	.container-down-sec {
		background: url(../img/feature-bg.png) center bottom no-repeat;
		background-size: 100%;
		padding: 40px 60px;
		.content-down {
			width: 60%;
			float: left;
			h2 {
				font-size: 48px;
				font-weight: 400;
				color: #fff;
				margin: 0;
			}
			.downlaod-btn {
				margin-top: 200px;
				a {
					display: inline-block;
					text-decoration: none;
					width: 170px;
					margin: 0 10px 0 0;
					img {
						width: 100%;
					}
				}
			}
		}
		.content-mobile {
			width: 40%;
			float: right;
			.phone-layout {
				width: 360px;
				margin-top: -155px;
				margin-bottom: -190px;
				.phone-container {
					padding: 105px 58px 140px;
					.slider-window {
						height: 408px;
					}
				}
			}
		}
		
	}
}

.contact-us-sec {
	padding: 60px 0;
	text-align: center;
	background: url(../img/world-map.png) top no-repeat;
	background-size: 100%;
	h2 {
		font-size: 48px;
		font-weight: 400;
		margin: 30px 0 60px 0;
	}
	.contact-content {
		margin-bottom: 60px;
		.email, .phone{
			margin-bottom: 10px;
			span {
				display: inline-block;
				font-size: 30px;
				line-height: 1.5em;
				color: #126EC8;
				img {
					opacity: 0.5;
					width: 35px;
					height: auto;
					margin-bottom: -10px;
					margin-right: 10px;
				}
			}
		}
		.phone {
			span {
				color: #383838;	
			}
		}
	}
}

.footer {
	padding: 20px 60px;
	background-color: #111D10;
	color: #999;
	.container-footer {
		.credit-sec {
			float: left;
			line-height: 1.9em;
			span {
				color: #c1c1c1;
				margin-right: 10px;
			}
			a {
				text-decoration: none;
				color: #999;
				margin: 0 10px;
				&:hover, &:focus, &.active {
					text-decoration: underline;
				}
			}
		}
		.social-sec {
			float: right;
			text-align: right;
			a {
				display: inline-block;
				width: 30px;
				height: auto;
				margin-left: 10px;
				img {
					width: 100%;
				}
			}
		}
	}
}

.terms-content {
	width: 80%;
	margin: 0 auto;
}

.privacy, .terms {
	.header {
		background: none;
		margin-bottom: 20px;
		height: auto;
		padding-bottom: 0;
	}
	.brand {
		margin: 15px auto;
	}
}

@media only screen and (max-width: 920px) {
	.header {
		height: 100%;
		background-position-y: bottom;
	}
	.phone-layout {
		display: none;
	}
	.menu .menu-items {
		width: 300px;
		right: -20px;
		top: -10px;
		border-radius: 10px 0 0 10px;
		ul {
			display: block;
			li {
				display: block;
				a {
					font-size: 22px;
					margin-bottom: 20px;
				}
			}
		}
	}
	.page-title {
		.title {
			margin-top: 25px;
			margin-bottom: 10px;
			font-size: 26px;
			font-weight: 400;
		}
		.sub-title {
			font-size: 40px;
		}
	}
	.download-header {
		margin: 100px 0 10px;
		ul li a {
			display: block;
			width: 180px;
			margin: 0 auto 5px;
		}
	}
	.feature-sec-one {
		h2 {
		font-size: 26px;
		margin: 10px 0 0 0;			
		}
		.left-content {
			display: none;
		}
		.right-content {
			text-align: center;
			float: none;
			width: 90%;
			margin: 0 auto;
			padding-top: 10px;
			.feature-list {
				padding: 20px 0 20px;
				ul {
					li {
						margin-bottom: 10px;
						.feature-title-header {
							a {
								font-size: 16px;
    							padding: 20px 45px 20px 20px;
								&:after {
									right: 15px;
								    top: 12px;
								}
							}
							&.open {
								a {
									&:after {
										top: 1px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	
	.feature-sec-two {
		.sec-two-container {
			padding: 30px 0;
			h2 {
				margin-bottom: 20px;
				font-size: 26px;
			}
			.col-med {
				display: none;
			}
			.col-left, .col-right {
				width: 100%;
				float: none;
				text-align: center;
				margin: 0 0 20px 0;
				.sec-feature-box {
					margin: 0 2%;
					.box-title {
						margin: 0 0 10px 0;
						font-size: 16px;
					}
					.box-content {
						margin: 0 0 30px 0;
					}
				}
				
			}
		}
	}
	
	.testimony-sec {
		padding: 0;
		h2 {
			margin-bottom: 20px;
			font-size: 26px;
		}
		.container-review {
			margin: 50px 10px;
			.review-card {
				width: 80%;
				margin-bottom: 50px;
			}
		}
	}
	
	.download-sec {
		.container-down-sec {
			padding: 20px 10px;
			.content-down {
				h2 {
					font-size: 26px;
					text-align: center;
				}
				float: none;
				width: 100%;
				.downlaod-btn {
					margin-top: 80px;
					a {
						display: block;
						width: 250px;
						margin: 0 auto;
					}
				}
			}
			
			.content-mobile {
				display: none;
			}
		}
	}
	
	.contact-us-sec {
		h2 {
			font-size: 26px;
			margin-top: 0;
		}
		.contact-content {
			.email, .phone {
				span {
					font-size: 20px;
					img {
						width: 30px;
					}
				}
			}
		}
	}
	.footer {
		padding: 20px 15px;
		.container-footer {
			.credit-sec, .social-sec {
				float: none;
				width: 100%;
				margin-bottom: 26px;
				text-align: center;
			}
			.credit-sec {
				span {
					display: block;
				}
				i {
					display: none;
				}
			}
			.social-sec {
				a {
					width: 50px;
				}
			}
		}
	}
}

@media only screen and (min-width: 920px) and (max-width: 1280px) {
	.header {
		background-position-y: 15%;
	}
	.feature-sec-one .right-content .feature-list {
		padding-right: 80px;
	}
}
